<div>
  INDEX:
</div>

<script defer src="/js/client.js"></script>

<form name="searchForm">
  <input type="text" placeholder="Введите имя" name="written">
  <button type="submit" id="search">Искать</button>
</form>

<form name="addUserForm">
  <input type="text" name="name">
  <input type="text" name="phone">
  <button id="addNewUser">Добавить юзера</button>
</form>

<div id="itogDiv"></div>
