<div>
  INDEX: {{title}}
</div>

<script defer src="/js/client.js"></script>

<form name="searchForm">
  <input type="text" placeholder="Введите имя" name="written">
  <button type="submit" id="search">Искать</button>
</form>

<hr>

<form name="addUserForm">
  <input type="text" name="name">
  <input type="text" name="phone">
  <button id="addNewUser">Добавить юзера</button>
</form>

<hr>

<form action="/session" method="GET" name="goToLogin">
  <button>👉 to login page</button>
</form>

<div id="itogDiv"></div>
