<div>
  INDEX:
</div>

<script defer src="/js/client.js"></script>
<form name="searchForm">
  <input type="text" placeholder="Введите имя" name="name">
  <button type="submit" id="search">Искать</button>
</form>

<form name="addUserForm">
  <input type="text" name="name">
  <input type="date" name="date">
  <button id="addNewUser">Добавить юзера</button>
</form>

<div id="result"></div>
