<div>
  LOGIN:
</div>

<form action="/session/login" method="POST" name="loginForm">
  <input type="text" placeholder="Введите имя" name="userName">
  <input type="text" placeholder="Введите тел" name="userPhone">
  <button type="submit" id="login">залогиниться!</button>
</form>

<p>{{message}}</p>
