<div style="color: red;">
  USER'S TRUE-SECRET PROFILE:
</h2>

<hr>
<p style="color: red;">Your login is: {{user.name}}</p>
<p style="color: red;">Your phone is: {{user.phone}}</p>

<a href="/sessionTrue/logoutTrue">разлогиниться</a>
